.front-layer {
	background-color: #ffffff;
	width: 100%;
	height: 90%;
	overflow-y: auto;
	padding: 3% 8%;
	line-height: 1.5;
	transition: height 0.3s, visibility 0.3s;
}

.front-layer.inactive {
	height: 0%;
	visibility: hidden;
}

.front-layer img {
	height: 10%;
	width: 60%;
	max-width: 400px;
	max-height: 300px;
	padding: 4%;
}

.front-layer li {
	display: inline-block;
}

.front-layer button {
	margin: 10%;
}