.prices {
	min-height: 420px;
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: column;
}

.prices.active {
	flex-direction: column-reverse;
}

.quantity {
	padding: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quantity button {
	padding: 0 10px;
	margin: 0 20px;
}
